body ul{list-style-type:square;
list-style-position:inside;}
body div {
    background-color: skyblue;
    color: #843C0C;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: double;
    border-width: 3;
    padding-right: 30px;
    text-align: right;
}
body div:hover {
    transition: 3s;
    rotate: 180deg;
    opacity: 0.2;
}