
a{color:skyblue}
h4, h2{line-height: 1;}
img{height: 150px;}
body h2, h4{margin:0;margin-left: 20px;}
hr{margin-bottom: 20px;}
ul{margin: 0; list-style-type: square;}
.red1{color: red;}
#img1{margin-left: 10px;}
.one_line{vertical-align: middle;display: inline-block;}
p.one_line{margin-left: 5px;color:darkgray;font-size: 9px;}

figure img{margin: 0 5px;
width: 190px;}
figure{display: inline-block; text-align: center;}